{% extends 'base.html' %}
{% load pagination_tags bootstrap_pagination staticfiles %}
{% load i18n %}
{% block pagetitle %}
	Lista de Usuários
{% endblock pagetitle %}

{% block content %}

   	<div class="card mt-3">
   		<div class="card-body">
   			{% if not user.is_gestor_cge %}
      			<div class="row">
					<div class="col-sm-12">
			    		<a href="{% url 'auth_local:cadastrar_usuario'%} " class="btn btn-outline-danger mb-2 float-right" data-toggle="tooltip" title="Cadastrar">
			           		<i class="fas fa-plus fa-xs"></i> Cadastrar
			   			</a>
		   			</div>
				</div>
			{% endif %}
				
   			<form class="" action="" method="">
				{% csrf_token %}
        			<div class="row">

						<div class="col-sm-2">
							<div class="form-group">
								<label for="id_tipo_manifestacao">CPF</label>
								{{ buscar_form.cpf }}
							</div>
						</div>

       					<div class="{% if user.is_gestor_cge %} col-sm-8 {% else %} col-sm-8 {% endif %}">
        					<div class="form-group">
        						<label for="id_tipo_manifestacao">Nome</label>
								{{ buscar_form.nome }}
        					</div>
       					</div>
       					
       					{% if not user.is_gestor_cge %}
       						<div class="col-sm-2">
        						<div class="form-group">
        							<label for="id_tipo_manifestacao" style="color: #fff">-</label><br/>
		       						<button type="submit" class="btn btn-outline-danger float-right">
		                      			<i class="fas fa-search fa-xs"></i>&nbsp;Buscar
		                  			</button>
                  				</div>
                 			</div>
       					{% endif %}
   					</div>
       					
         				{% if user.is_gestor_cge %}
		        			<div class="row">
								<div class="col-sm-4">
									<div class="form-group ">
										<label for="id_orgao">Ouvidoria</label>
										{{ buscar_form.ouvidoria }}				
									</div>
								</div>

		        				<div class="col-sm-3">
			         				<div class="form-group ">
										<label for="id_perfil">Perfil</label>
										{{ buscar_form.perfil }}				
			                     	</div>
								 </div>
								 
								 <div class="col-sm-3">
									<div class="form-group ">
										<label for="id_perfil">Status</label>
										{{ buscar_form.status }}				
									</div>
								</div>
			                     	
		                     	<div class="col-sm-2">
	        						<div class="form-group">
	        							<label for="id_tipo_manifestacao" style="color: #fff">-</label><br/>
			       						<button type="submit" class="btn btn-outline-danger float-right">
			                      			<i class="fas fa-search fa-xs"></i>&nbsp;Buscar
			                  			</button>
	                  				</div>
	               				</div>
	           				</div>
                     	{% endif %}	
       			</form>
    		</div>
     		
     		{% if usuarios %} 
	     		<div class="table-responsive">
		      		<table class="table">
		        		<thead class="thead-light">
			          		<tr>
			            		<th scope="col">CPF</th>
			            		<th scope="col">Nome</th>
								<th scope="col">Perfil</th>
								<th class="text-center" scope="col">Status</th>
			            		<th scope="col">Órgão</th>
			            		<th scope="col">#</th> 
			            		
			          		</tr>
		        		</thead>
			        	<tbody>
			        		{% for usuario in usuarios_paginator %}
			          	  		<tr>
			          	   			<th scope="row">
										{{ usuario.cpf }}
									</th>
				        			<td>{{ usuario.nome }} </td>
									<td>{{ usuario.perfil.nome }} </td>
									<td class="text-center">
										{% if usuario.is_active %}
											<span class="fas fa-user-check text-success" data-toggle="tooltip" title="Ativo"></span>
										{% else %}
											<span class="fas fa-user-times text-danger" data-toggle="tooltip" title="Inativo"></span>
										{% endif %}
										
									</td>
			        				<td data-toggle="tooltip" title="{{ usuario.orgao.descricao }}">
			        					
			        					<strong>{{ usuario.orgao.sigla }}</strong>
			        				</td>
			        				
				        				<td>
				        					<a class="btn btn-outline-danger" href="{% url 'auth_local:editar_usuario' usuario.id %}" data-toggle="tooltip" title="Editar">
		                                    	<i class="fas fa-pencil-alt"></i>
											</a>
				        				</td>
									
				          		</tr>
			        		{% endfor %}
			        	</tbody>
		      		</table>
	      		</div>
	           	
	           	{% include './usuario_paginator.html' %}
      		{% endif %}
    	</div>
{% endblock content %}

{% block extrajs %}
	<script src="{% static 'js/painel/usuario/listagem.js' %}"></script>
{% endblock %}