{% extends 'base.html' %}
{% load staticfiles input_error %}

{% block pagetitle %}
	Meu Perfil
{% endblock pagetitle %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
	        	<div class="card-body">
	        		<div class="form-row">
		           			<div class="col-sm-12 text-center">
								<h4 class="card-title">
									<span class="badge badge-pill badge-primary" data-toggle="tooltip" title="Ouvidoria">{{ usuario.orgao }}</span>
								</h4>
								
								<hr/>
							</div>
                        </div>
	           		<form action="" method="post" id="formPerfilGestor">
	           			{% csrf_token %}
                        
	                	<div class="form-row">
	                   		<div class="form-group col-sm-2">
								<label for="id_cpf" class="control-label">CPF (Login)</label>
								<input class="form-control" type="text" disabled="disabled" value="{{ usuario.cpf }}">
	                        </div>
	                        
	                         <div class="form-group col-sm-3">
								<label for="id_email" class="control-label required">Perfil</label>
								<input class="form-control" type="text" disabled="disabled" value="{{ usuario.perfil.nome }}">
	                        </div>
	                        
	                        <div class="form-group col-sm-7">
								<label for="id_email" class="control-label required">E-mail</label>
								<input class="form-control" type="text" disabled="disabled" value="{{ usuario.email }}">
	                        </div>
                   	    </div>
	                   	
	                   	<div class="form-row">
	                   	 	<div class="form-group col-sm-2">
								<label for="id_cpf" class="control-label">Telefone</label>
								{{ meu_perfil_form.telefone }}
								{% show_input_error meu_perfil_form.telefone %}
	                        </div>
	                        
	                        <div class="form-group col-sm-10">
	                        	<label for="id_nome" class="control-label required">Nome</label>
								{{ meu_perfil_form.nome }}
								{% show_input_error meu_perfil_form.nome %}
	                   	    </div>
                        </div>
                        
                        <hr/>
                        
                        <div class="form-row">
	                   	 	<div class="form-group col-sm-4">
								<label for="id_cpf" class="control-label">Senha atual</label>
								{{ meu_perfil_form.senha_atual }}
								{% show_input_error meu_perfil_form.senha_atual %}
	                        </div>
	                        
	                   	    <div class="form-group col-sm-4">
								<label for="id_email" class="control-label required">Nova senha</label>
								{{ meu_perfil_form.nova_senha }}
								{% show_input_error meu_perfil_form.nova_senha %}
	                        </div>
	                        
	                        <div class="form-group col-sm-4">
								<label for="id_email" class="control-label required">Confirmação nova senha</label>
								{{ meu_perfil_form.confirmar_senha }}
								{% show_input_error meu_perfil_form.confirmar_senha %}
	                        </div>
                        </div>
	                        
	                     <div class="form-row">
	                         <div class="form-group col-sm-12">
	                             <button type="submit" class="btn btn-outline-success float-right" id="btnAtualizarPerfil" disabled="disabled">
	                             <i class="far fa-save"></i>&nbsp;Salvar</button>
	                         </div>
	                     </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock content %}

{% block extrajs %}
	<script type="text/javascript" src="{% static 'js/painel/usuario/formulario.js' %}"></script>
{% endblock extrajs %}