{% load bootstrap_pagination %}
<div class="card-body">
	<div class="row">
		<div class="col-sm-12">
			<div class="text-center">
				Mostrando {{ companhia_aerea_paginator.start_index }} até {{ companhia_aerea_paginator.end_index }} de 
				{{ companhia_aerea_paginator.paginator.count }} registros.
			</div>
			
			<nav aria-label="navigation" class="mt-2">
				<ul class="pagination float-right">
					{% bootstrap_paginate companhia_aerea_paginator show_first_last="true" url_param_name="companhias_aereas_page" %}
				</ul>
			</nav>
		</div>
	</div>
</div>