@import 'theme/base';

.acoes {
    .card {

        &:hover {
            background-color: $gray-200;
            cursor: pointer;

            .btn-outline-danger {
                background-color: $danger;
                color: white;
            }

            .btn-outline-warning {
                background-color: $warning;
                color: white;
            }

            .btn-outline-success {
                background-color: $success;
                color: white;
            }

            .btn-outline-info {
                background-color: $info;
                color: white;
            }

            .btn-outline-secondary {
                background-color: $secondary;
                color: white;
            }
        }

        .card-footer {
            background-color: rgb(252, 252, 252);
        }
    }

    a:hover {
        text-decoration: none;
    }
}

.gov {
    .card-body {
        background: url('/static/img/padrao-gov.png');
    }
}

.w-20 {
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
}

#consulte {
    //background-color: #607D8B;
    background: #01579B;
    color: $light;
}

.rodape {
    //background-color: #b41f2f;
    background: #014286;
    margin-top: 50px;
    padding: 25px 15px;

    a {
        color: $gray-100;
    }
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}


.not-selected {
	opacity: 0.4;
}

.bootbox .modal-header h4 {
    order: 0;
}

.bootbox .modal-header button {
    order: 1;
}
.btn-edit-account-index {
	margin-top: 5px
}

.badge-warning {
 	color: #fff;
}

.table-manifestacao {
	p, .badge {
		cursor: default;
	}
	
	.badge-tipo-manifestacao {
		font-size: 85%;
	}
}

.totais-manifestacao {
    .badge-pill {
        border-radius: 4px;
    }

    .card-header {
        background: #fff;
    }
}

.numero-protocolo {
	cursor: default;	
}

.item-manifestacao {
	margin-left: 5px; 
}

.card-body-no-padding {
    padding: 0px;
}

.manifestacao-detalhes {
	a.btn-detalhes-cidadao {
		color: #fff;
	}
	
	a.btn-detalhes-cidadao:hover {
		color: #fff;
		text-decoration: none;
	}
	
	.texto-manifestacao {
		text-align: justify;
		margin: 3px;
	}
	
	.card {
		margin-top: 10px;

		ul.list-group {
			.list-group-item:first-child, .li-cep {
			    margin-top: -1;
			}
		}
	}
	
	.card-header-manifestacao {
		color: #fff;
	}
	
	.bg-manifestacao {
		background-color: #6c757d!important;
		color: #fff;
	}
	
	.border-manifestacao {
		border-color: #6c757d!important
	} 
}

.bg-elogio {
	background-color: $secondary;
	color: $white;
}

.border-elogio {
	border: 1px solid $secondary;
}

.bg-sugestao {
	background-color: $info;
	color: $white;
}

.border-sugestao {
	border: 1px solid $info;
}

.bg-solicitacao {
	background-color: $success;
	color: $white;
}

.border-solicitacao {
	border: 1px solid $success;
}

.bg-reclamacao {
	background-color: $warning;
	color: $white;
}

.border-reclamacao {
	border: 1px solid $warning;
}

.bg-denuncia {
	background-color: $danger;
	color: $white;
}

.bg-fora-escopo {
	background-color: $dark;
	color: $white;
}

.border-fora-escopo {
	border: 1px solid $dark;
}

.border-denuncia {
	border: 1px solid $danger;
}

.badge-number {
	font-size: 14px;
}

.btn-refresh-movimentacoes {
	cursor: pointer;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle.btn-xs {
    width: 20px;
    height: 20px;
    padding: 5px 0px;
    border-radius: 15px;
    font-size: 10px;
    line-height: 1.33;
}

.item-movimentacao {
	padding: 0.25rem 0.5rem;
}

.bg-cadastrada {
	 background-color: white;
}

.bg-analise {
	 background-color: #ffca87;
}

.bg-encerrada {
	 background-color: #ffe1e4;
}

.btn-outline-sugestao {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
}

.btn-outline-elogio {
    color: #8E24AA;
    background-color: transparent;
    background-image: none;
    border-color: #8E24AA;
}

.btn-outline-denuncia {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.btn-outline-reclamacao {
    color: #FF8F00;
    background-color: transparent;
    background-image: none;
    border-color: #FF8F00;
}

.btn-outline-solicitacao {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    margin-bottom: 0px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: #eeeeee;
        left: 2.4%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 91%;
            float: left;
            position: relative;
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 10px;
            height: 10px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            left: 33px;
            top: 5px;
            margin-left: -27px;
            border-style: solid;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            
        }
        
        .timeline > li {
        	&:not(:first-child) {
        		.timeline-badge {        		
            		background-color: #fff;
        		}
            }
        }

        .timeline > li.timeline-inverted > .timeline-panel {
                float: left;
    			left: 9%;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}


@media (max-width: 1024px) {
	#token_manifestacao {
		margin-bottom: 5px;
	}
	
	.card-tipo-manifestacao {
		margin-bottom: 15px;
	}
}

@media (max-width: 767px) {
    ul.timeline:before {
        left:15px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: -15px;
        margin-left: 25px;
        top: 20px;
    }
    
    ul.timeline > li.timeline-inverted > .timeline-panel {
		left: 40px;
    }

    ul.timeline > li > .timeline-panel {
		left: 40px;
    }

	ul.timeline > li > .timeline-panel:before {
    	border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
	}

	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
	}
}

@media only screen and (max-width: 575px) {
	.card-sem-identificacao, 
	.card-nao-tenho-cadastro {
		margin-top: 15px
	}
	
	.content-publico {
		.form-check-inline {
			display: block;
			padding-bottom: 1px; 
		}
		
		.div-pesquisa {
			border: 1px solid #e9ecef;
		}
	}
}

.invalid {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.file-input {
		
	.file-drop-zone {
		height: inherit !important;
		margin: 0px !important;
	}
	
	.kv-file-upload  {
	   display: none !important;
	}
	
	.krajee-default.file-preview-frame {
		width: 30% !important;
	}
	
	.kv-file-content {
		width: 100% !important;
	}
	
	.file-preview {
		border: 0px !important; 
		padding-left: 0px !important;
		padding-right: 0px !important;
		
		.close:not(:disabled):not(.disabled) {
		   cursor: pointer;
    		top: 13px;
    		right: 3px;
		}
	}
}

.opacity {
	opacity: 0.4;
}

.btn-remover-anexo {
	cursor: pointer;
}

.table {
	tr:first-child {
		th {
			border-top: 0px;
		}
	}
}

#buttonCopyToken:hover {
	text-decoration: none !important;
}




.btn-links-cge {
	&:hover {
		text-decoration: none;
	}
}

#messages {
	ul {
		margin-bottom: 0px;
	}
}

.click-detalhes {
	cursor: pointer;
}

.django-ckeditor-widget {
	width: 100%;
	
	.cke_top { 
		background: #f5f5f5 !important;
	}
	
	
	.cke_chrome {
		border: 0px !important;
	}
	
	.cke_bottom {
		background: #f5f5f5 !important;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.table-manifestacao {
	th, td {
		border-top: 0px !important;
	}
	
	.detalhes:not(hide) {
		border-bottom: 1px solid #dee2e6;
	}
}

.bg-warning .card-body {
	color: #fff !important;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-right-width: .25rem;
    background-color: #fff;
    border-radius: .25rem;
}

.bd-callout-sugestao {
    border-left-color: #17a2b8;
    border-top-color: #17a2b8;
    border-bottom-color: #17a2b8;
    border-right-color: #17a2b8;
}

.bd-callout-reclamacao {
    border-left-color: #FF8F00;
    border-top-color: #FF8F00;
    border-bottom-color: #FF8F00;
    border-right-color: #FF8F00;
}

.bd-callout-denuncia {
    border-left-color: #dc3545;
    border-top-color: #dc3545;
    border-bottom-color: #dc3545;
    border-right-color: #dc3545;
}

.bd-callout-solicitacao {
    border-left-color: #28a745;
    border-top-color: #28a745;
    border-bottom-color: #28a745;
    border-right-color: #28a745;
}

.bd-callout-elogio {
    border-left-color: #8E24AA;
    border-top-color: #8E24AA;
    border-bottom-color: #8E24AA;
    border-right-color: #8E24AA;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}

.card-perfil {
	padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
	border-left-color: #5bc0de;
}

.card-cadastro-cidadao {
	padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
	border-left-color: #dc3545;
}

.text-color-sugestao {
    color: #17a2b8;
}

.text-color-reclamacao {
    color: #FF8F00;
}

.text-color-denuncia {
    color: #dc3545;
}

.text-color-solicitacao {
    color: #28a745;
}

.text-color-elogio {
    color: #8E24AA;
}

.token {
	font-size: 18px;
	font-weight: 700 !important;
}

.token-modal {
	font-size: 30px;
	font-weight: 700 !important;
}

.card-count-denuncia {
	border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #dc3545;
}

.card-count-reclamacao {
	border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #FF8F00;
}

.card-count-solicitacao {
	border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #28a745;
}

.card-count-sugestao {
	border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #17a2b8;
}

.card-count-elogio {
	border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #8E24AA;
}

.card-count-fora-escopo {
	border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: $dark;
}


.menu-base-publica {
 	margin-top: 5px;
}

.sala-controle {
	
	.card-grapich:not(.activated) {
	  	opacity: 0.3;
	}
	
	.popover {
		.popover-header {
			color: #fff !important;
			background-color: $sala-controle;
		}
		
		.popover-body {
			color: #fff !important;
    		background-color: $sala-controle; 
		}
	}

	.control-label {
		text-transform: uppercase!important;
		color: #fff;
	}
	
	.btn {
		background: linear-gradient(rgba(29,140,248,1.5), rgba(29,140,248,0.5), rgba(29,140,248,2));
	}
	
	.selectize-control.multi .selectize-input > div {
    	background: $sala-controle !important;
    	color: #fff !important;
	}
	
	.selectize-input {
		background-color: rgba(10,23,55,0.5);
		border-color: #2b3553;
		
		&:focus {
			border: $sala-controle solid 1px;
		}
	}
	
	.icon-ajax {
		color: rgba(29,140,248,1.5);
	}
	
	.badge-totais {
		background: linear-gradient(rgba(29,140,248,0.5), rgba(29,140,248,0.8), rgba(29,140,248,2));
		borderColor: $sala-controle;
		color: #fff
	}
	
	.card-totais {
		.card-body {
			text-align: center;
		}
	}
	.card {

    	margin-top: 0.5rem;
    	cursor: pointer;
    	margin-bottom: 1.25rem;
    	border-left-width: .25rem;
    	border-radius: .25rem;
		text-color: $sala-controle;
		&:hover {
			border: $sala-controle solid 1px;
		}
		
		.card-header {
			text-align: center;
			
			.card-title {
				text-color: #fff;
			}
			
		}
	}
	
	.badge-number {
		margin-top: 1px;
		font-size: 1rem;
	
	}
	
	select option {
		background: #fff;
	}
	
	
	.selectize-dropdown, .selectize-input, .selectize-input input {
		color: $sala-controle;
	}
	
	.form-control {
	    padding: 8px 18px !important;
		color: $sala-controle !important;
	
		&:focus {
			color: $sala-controle !important;
			border-color: $sala-controle !important;
			background-color: transparent;
		}
		
		&:focus+.input-group-append .input-group-text  {
			color: $sala-controle !important;
			border-color: $sala-controle !important;
			background-color: transparent;
		}
	}
	
	input {
		color: #fff !important;
	}
	
	.input-group-append {
		&:focus {
			color: $sala-controle !important;
			border-color: $sala-controle !important;
			background-color: transparent;	
		}
		
		.span-date {
			background-color: transparent !important;
			padding: 10px 18px 10px 0 !important;
			
			&:focus {
				color: $sala-controle !important;
				border-color: $sala-controle !important;
				background-color: transparent;
			}
			
			i {
				padding-left: 10px !important;	
			}	
		}
	}
}

.popover {
	
		.popover-header {
			text-align: center !important;
			text-transform: uppercase!important;
			color: #fff !important;
			background: linear-gradient(rgba(29, 140, 248, 0.5), rgba(29, 140, 248, 0.8), #1d8cf8);
		}
		
		.popover-body {
			text-color: #bbb !important;
		}
}

.btn-menu-user {
	border-color: #fff !important;
	color: #fff;
}


