{% extends 'base.html' %}
{% load static %}
{% load cotacao_passagem %}
{% block pagetitle %}
	Análise de solicitacao de Passagem
{% endblock pagetitle %}

<style type="text/css">
@media (max-width: 991px) {
	.container {
		width:100% !important;
	}
}
</style>
{% block extrajs %}
<script>
	function vusualizar_cotacao(id_botao) {
		const json_passageiros = JSON.parse(id_botao.dataset.passageiro);
		passageiros = document.getElementById("modal_passageiros");
		const url = id_botao.dataset.url;      
		botacao_editar_cotacao = document.getElementById("id_btn_editar_cotacao");   
		botacao_editar_cotacao.href=url
		passageiros.innerHTML = '';
		for(var cont = 0; cont < json_passageiros.length; cont++ ){
			var tr = document.createElement("tr");
			var td1 = document.createElement("td");
			td1.innerHTML = json_passageiros[cont].nome;
			var td2 = document.createElement("td");
			td2.innerHTML = json_passageiros[cont].email;
			var td3 = document.createElement("td");
			td3.innerHTML = json_passageiros[cont].fone;
			var td4 = document.createElement("td");
			td4.innerHTML = json_passageiros[cont].idade;
			var td5 = document.createElement("td");
			td5.innerHTML = json_passageiros[cont].servidor;
			tr.appendChild(td1)
			tr.appendChild(td2)
			tr.appendChild(td3)
			tr.appendChild(td4)
			tr.appendChild(td5)
			document.getElementById("modal_passageiros").appendChild(tr);
		}
		$("#id_origem").val(id_botao.dataset.origem);
		$("#id_destino").val(id_botao.dataset.destino);
		$("#id_num_voo").val(id_botao.dataset.numvoo);
		$("#id_valor").val(id_botao.dataset.valor);
		$("#id_companhia").val(id_botao.dataset.companhia);
		$("#id_data").val(id_botao.dataset.datavoo);
        
    };
</script>
{% endblock %}

{% block content %}
{% block extracss %}
	<link rel="stylesheet" href="{% static 'css/passagem/solicitacao_passagem.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/passagem/timeline_acompanhamento.css' %}" type="text/css">
{%  endblock extracss %}

	
	<div class="row">
		<div   {% if acompanhamentos %}   class="col-sm-8" {% else %}  class="col-sm-12"   {% endif %}>
			<div class="card">
				
				<div class="card-body">
					<form action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-row">
							{% if solicitacao_passagem.urgente %}
							<div class="form-group col-sm-4">
								<span href="" data-toggle="modal" data-target="#MyModalJustificativaUrgencia" class="badge badge-danger" style="font-size: medium;">Solicitação <b>URGENTE</b></span>
								
							</div>
							{% endif %}
							<div class="form-group col-sm-8">
								<label for="id_orgao" class="control-label "><b>Orgão: </b></label>
								{{solicitacao_passagem.orgao}}
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-sm-4">
								<label for="id_motivo" class="control-label"><b>Motivo:</b> </label>
								{{solicitacao_passagem.motivo}}
								
							</div>
							<div class="form-group col-sm-6">
								<label for="id_orgao" class="control-label "><b>Viagem a serviço:</b> </label>
								{{solicitacao_passagem.viagem_servico}}
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-sm-4">
								<label for="id_orgao" class="control-label">Diário Oficial</label>
								{% if solicitacao_passagem.anexo_diario %}
									<a href="/../media/{{solicitacao_passagem.anexo_diario.name}}" target="_blank"> <i class="far fa-file-pdf" style="font-size:30px;color:red"></i></a>
								{% else %}
									<i class="far fa-question-circle" style="font-size:30px;" title="Faltando anexo!"></i>
								{% endif %}
							</div>
							<div class="form-group col-sm-4">
								<label for="id_anexo_processo" class="control-label">Processo</label>
								{% if solicitacao_passagem.anexo_processo %}
									<a href="/../media/{{solicitacao_passagem.anexo_processo.name}}" target="_blank"> <i class="far fa-file-pdf" style="font-size:30px;color:red"></i></a>
								{% else %}
									<i class="far fa-question-circle" style="font-size:30px;" title="Faltando anexo!"></i>
								{% endif %}
							</div>
							<div class="form-group col-sm-4">
								<label for="id_orgao" class="control-label">Folder Evento</label>
								{% if solicitacao_passagem.anexo_evento %}
									<a href="/../media/{{solicitacao_passagem.anexo_evento.name}}" target="_blank"><i class="fas fa-image" style="font-size:30px;color:red"></i></a>
								{% else %}
									<i class="far fa-question-circle" style="font-size:30px;" title="Faltando anexo!"></i>
								{% endif %}
							</div>
						</div>
						<div class="trechos">
						  		{% for passagem in passagens %}
						  		<div class="box-trecho">
									<div class="row">
										<div class="col-12 text-right">
											{% if user.is_gestor_amgesp %}
												<a href="{% url 'passagem:cotacao_add' solicitacao_passagem.id passagem.id %}">
													<button type="button" class="btn btn-primary btn-sm pull-left">Add Cotação</button>
												</a>
											{% endif %}
											{% if passagem.cotacao %}
											<button type="button" href=""  data-toggle="modal" data-passageiro="{{passagem.id|cotacao_passagem}}" data-origem='{{passagem.rota.origem}}'  data-destino='{{passagem.rota.destino}}'
											data-numvoo='{{passagem.cotacao.numero_voo}}' data-valor='{{passagem.cotacao.valor}}' data-companhia='{{passagem.cotacao.companhia}}'
											data-datavoo='{{passagem.cotacao.data|date:'d/m/Y H:i'}}' data-url='{% url 'passagem:cotacao_update' passagem.cotacao.id solicitacao_passagem.id %}'
											data-target="#MyModal" class="btn btn-info btn-sm pull-left" data-id='{{passagem.id}}' id="btn_visualizar_cotacao_{{passagem.id}}" onclick="vusualizar_cotacao(this)">Visualizar Cotação</button>
											{% endif %}
										</div> 
										{% include 'modal/visualizar_cotacao.html' %}
									</div>
									  <li class="lista-trecho">Trecho:</li>
									  <hr/>
									<div class="form-row">
										<div class="col-sm-12">
											<b>Data da Viagem:</b> {{passagem.data_viagem|date:"d/m/y"}}
										</div>
									</div>
									<br>
									<div class="form-row">
										<div class="col-sm-6">
											<b>Origem:</b> {{passagem.rota.origem}}
										</div>
										<div class="col-sm-6">
											<b>Destino:</b> {{passagem.rota.destino}}
										</div>
									</div>
									<br>
			  					    {% if passagem.passageiros %}
			  					    <b>Passageiros:</b>
										{% for passageiro in passagem.passageiropassagem_set.all %}
										<hr/>
										<div class="form-row">
											
											<div class="col-sm-8">
												{{passageiro.passageiro.cpf}} - {{passageiro.passageiro.nome}}
											</div>
											{% if user.is_agencia_viagem %}
												<div class="col-4 text-right">
													{% if passageiro.status == "C" %}
														<a href="{% url 'passagem:remarcacao_passagem_add' passageiro.id solicitacao_passagem.id%}">
															<button type="button" class="btn btn-danger btn-sm pull-left">Remarcar Passagem</button>
														</a>
														<a href="{% url 'passagem:passageiro_passagem_update' passageiro.passageiro.id passagem.id solicitacao_passagem.id %}">
															<button type="button" class="btn btn-primary "><i class="fas fa-pencil-alt" title="Editar Passagem"></i></button>
														</a>
													{% else %}
														<a href="{% url 'passagem:passageiro_passagem_add' passageiro.passageiro.id solicitacao_passagem.id passagem.id %}">
															<button type="button" class="btn btn-primary btn-sm pull-left"><i class="fas fa-pencil-alt" title="Editar Passagem"></i></button>
														</a>
													{% endif %}
												</div>
											
											{% endif %}
										</div>
				  						{% endfor %}
					  				{% endif %}
						  		 </div>	
						  		{% endfor %} 
						  </div>
						  {% if user.is_gestor_amgesp %}
						  <div class="form-row">
						  	<div class="form-group col-sm-12">
						  		<label for="id_motivo" class="control-label"><b>Acompanhamento:</b> </label>
								{{acompanhamento_solicitacao_passagem_form.descricao}}
								{% if acompanhamento_solicitacao_passagem_form.descricao.errors %}
									<label class="control-label errors" for="descricao">
										<i class="fa fa-times-circle-o"></i>
					              		{{ acompanhamento_solicitacao_passagem_form.descricao.errors.as_text }}
					            	</label>
					            {% endif %}
						  	</div>
						  </div>
						  <div class="form-row">
						  	<div class="form-group col-sm-14">
						  		{{ acompanhamento_solicitacao_passagem_form.status }}
						  		{% if acompanhamento_solicitacao_passagem_form.status.errors %}
									<label class="control-label errors" for="status">
										<i class="fa fa-times-circle-o"></i>
					              		{{ acompanhamento_solicitacao_passagem_form.descricao.status.as_text }}
					            	</label>
					            {% endif %}
						  	</div>
						  </div>
						  
						  <div class="form-row">
	                         <div class="form-group col-sm-12 mt-2">
		                            <button type="submit" class="btn btn-primary float-right">
		                             	<i class=".fa-arrow-right"></i>&nbsp;Registrar Acompanhamento 
		                            </button>
	                         </div>
						 </div>
						 {% endif %}
					</form>
				</div>
			</div>
		</div>
			{% if acompanhamentos %}
			<div class="col-sm-4">
				<div class="card time-line">
					{% for acompanhamento in acompanhamentos %}
					<ul> 
						<li> <i class="fas fa-clock" aria-hidden="true"></i> {{acompanhamento.data|date:'d-m-y h:m:s'}}{% if acompanhamento.status == "COM PENDENCIA" %} <span class="badge badge-danger"> {% else %} <span class="badge badge-success"> {% endif %}{{acompanhamento.status}}</span></li>
						<li><i class="fas fa-user"></i> {{acompanhamento.usuario}}</li>
						<li> <b>Acompanhamento:</b> <p style="text-align: justify;">{{acompanhamento.descricao}}<p></li>
					</ul>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			
			{% include 'modal/visualizar_justificativa_urgencia.html' %}
{% endblock %}