{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}
	Formulário de solicitacao de Passagem
{% endblock pagetitle %}

<style type="text/css">
@media (max-width: 991px) {
	.container {
		width:100% !important;
	}
}

</style>


{% block content %}

{% block extracss %}
	<link rel="stylesheet" href="{% static 'css/passagem/solicitacao_passagem.css' %}" type="text/css">
{%  endblock extracss %}
{% block extrajs %}
	<script type="text/javascript" src="{% static 'js/passagem/solicitacao_passagem.js' %}"></script>
{% endblock %}
	
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<ul class="nav nav-pills">
					  <li class="nav-item">
					    <a class="nav-link disabled">Dados da solicitação</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link disabled">Rotas</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link active">Passageiros</a>
					  </li>
				</ul>
				<div class="card-body">
					<form action="" method="post">
						{% csrf_token %}
						<div id="box-rota">
							<div class="form-row">
								<div class="form-group col-sm-8" onchange="change(this)">
									<label for="id_tipo" class="control-label required">Passageiros</label>
									{{solicitacao_passagem_passageiro_form.passageiros}}
								</div>
							</div>
						  </div>
						  <!-- 
						  <div class="trechos">
						  		{% for trecho in trechos %}
						  		<div class="box-trecho">
						  			<div class="ico-lixo"><a href="{% url 'passagem:deletar_trecho' trecho.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></div>
						  			<li class="lista-trecho">Trecho</li>
						  				<ul>
						  					{% for passagem in trecho.passagens.all %}
						  						<li class="">{{passagem.tipo}} - {{passagem.data_viagem|date:"d/m/y"}} ( <b>De:</b> {{passagem.rota.origem}}&nbsp;&nbsp;&nbsp;<b>Para:</b> {{passagem.rota.destino}})</li>
						  					{% endfor %}
						  				</ul>
						  		 </div>	
						  		{% endfor %} 
						  </div>
						   -->
						  <div class="form-row">
	                         <div class="form-group col-sm-12 mt-2">
									<button onclick="location.href='{% url 'passagem:solicitacao_passagem_rota_add' solicitacao_passagem.id %}'" type="button" class="btn btn-secondary">
										<i class=".fa-arrow-left"></i>&nbsp;Voltar
									</button>									
		                            <button onclick="location.href='{% url 'passagem:solicitacao_passagem_update' solicitacao_passagem.id %}'" type="button" class="btn btn-primary float-right">
		                             	<i class=".fa-arrow-right"></i>&nbsp;Concluir
		                            </button>
	                         </div>
	                     </div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

