{% extends 'base.html' %}
{% load staticfiles input_error %}

{% block pagetitle %}
    Cadastro de Solicitação de Passagem
{% endblock pagetitle %}


<style>
.panel-success>.panel-heading{
	background-image: linear-gradient(to bottom, #428bca 0, #357ebd 100%);
	background-repeat: repeat-x;
}

.protocolo-titulo{
	padding-bottom:10px;
	border-bottom:1px solid #428bca;
}

.panel, .panel-heading {
	border-radius:15px !important;
}
</style>
    {% block content %}
	<div class="container mb-4">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="row">

							<h1 style="color:#0066cc;padding-left:30px;">Pronto,  {{solicitacao_passagem.usuario.nome}} </h1>
							<hr />
							<div class="col-sm-12 col-lg-12">
								<div class="card">
									<div class="card-body" style="color:#0066cc;">
										Sua Solicitação de Passagem será analisada pelos agentes da AMGESP e, após aprovada, lhe enviaremos um e-mail de confirmação!
									</div>
								</div>
								<br/>
							</div>
							
							
							<div class="col-sm-6 col-lg-6 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p>Um email foi enviado para: {{ solicitacao_passagem.usuario.email }}, confirmando o registro da sua solicitação de passagem</p>
									</div>
								</div>
							</div>
                            <div class="col-sm-6 col-lg-6 mb-4">
                                <div class="card">
                                    <div class="card-header" style="background-color:FF8F00;">
                                        <div class="text-center " style="font-weight:bold;"><p style="color: white;">Protocolo:</p>
                                        </div>
                                        <h2 class="text-center mt-1" style="color: white;"><b>#{{ solicitacao_passagem.codigo }}</b></h2>
                                        <!-- <h3 class="text-center visible-xs">{{ BO.protocolo }}</h3> -->
                                    </div>
                                </div>
                            </div>
							<br/>
							<div class="col-sm-12 hidden-sm hidden-xs">
								<div class="card">
									<div class="card-body">
										<div style="float:left;margin-top:6px;">Precisa registrar uma nova solicitação de passagem?
										</div>
										<div style="float:right;"><a href="{% url 'passagem:solicitacao_passagem_add' %}" > <button  type="button" class="btn btn-success" > REGISTRAR NOVA SOLICITAÇÃO DE PASSAGEM</button></a>
										</div>
									</div>
								</div>
							</div>
						</div>
		
					</div>
				</div>
			</div>
		</div>
    </div>
    {% endblock %}


