{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}
	Passagens Emitidas 
{% endblock pagetitle %}

<style type="text/css">
@media (max-width: 991px) {
	.container {
		width:100% !important;
	}
}
</style>


{% block content %}
{% block extracss %}
	<link rel="stylesheet" href="{% static 'css/passagem/solicitacao_passagem.css' %}" type="text/css">
	<!--<link rel="stylesheet" href="{% static 'css/passagem/timeline_acompanhamento.css' %}" type="text/css">-->
{%  endblock extracss %}

	
	<div class="row">
		<div   {% if acompanhamentos %}   class="col-sm-8" {% else %}  class="col-sm-12"   {% endif %}>
			<div class="card">
                {% if passageiros_passagens %}
				<div class="card-body">
						{% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="id_motivo" class="control-label"><b>Solicitação:</b> </label>
                                #{{solicitacao_passagem.codigo}}
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="id_orgao" class="control-label "><b>Data Solicitacao:</b> </label>
                                {{solicitacao_passagem.data}}
                            </div>
                        </div>
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label for="id_orgao" class="control-label "><b>Orgão: </b></label>
								{{solicitacao_passagem.orgao}}
							</div>
                            <div class="form-group col-sm-6">
                                <label for="id_orgao" class="control-label "><b>Solicitado por:</b> </label>
                                {{solicitacao_passagem.usuario}}
                            </div>
                            
						</div>
                        
						<div class="trechos">
                                {% for passageiro_passagem in passageiros_passagens %}            
						  		<div class="box-trecho">
                                    <div class="form-row">
                                        <div class="col-sm-8">
                                            <b>Passageiro:</b> {{passageiro_passagem.passageiro.cpf}} - {{passageiro_passagem.passageiro.nome}}
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-row">
                                        <div class="col-sm-8">
                                            <b>Nº Bilhete:&nbsp;&nbsp;  </b>{{passageiro_passagem.num_bilhete}}&nbsp;&nbsp;&nbsp;<b>Nº Voo:&nbsp;&nbsp;</b> {{passageiro_passagem.passagem.num_voo}}&nbsp;
                                            <b>Data viagem:</b> {{passageiro_passagem.passagem.data_viagem|date:"d/m/y"}}&nbsp;&nbsp;&nbsp;</br>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <b>Origem:</b> {{passageiro_passagem.passagem.rota.origem}}&nbsp;&nbsp;&nbsp;<b>Destino:</b> {{passageiro_passagem.passagem.rota.destino}}</br>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <b>Valor:</b> {{passageiro_passagem.valor}}&nbsp;&nbsp;&nbsp;<b>Taxa Embarque:</b> {{passageiro_passagem.valor_embarque}}&nbsp;&nbsp;&nbsp;<b>Taxa Serviço:</b> {{passageiros_passagens.taxa_servico}}&nbsp;&nbsp;&nbsp;
                                            <b>Tarifa:</b> {{passageiro_passagem.tarifa}}
                                        </div>
                                    </div>
                                    <hr/>
                                    <p><b>Remarcações: </b></p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col"><b>Data viagem::</b></th>
                                                    <th scope="col"><b>Nº Bilhete:&nbsp;&nbsp;  </b></th>
                                                    <th scope="col"><b>Nº Voo:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Valor passagem:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Terifa:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Taxa embarque:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Taxa serviço:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Multa:&nbsp;&nbsp;</b></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for remarcacao in remarcacoes %}
                                                <tr>
                                                    <td>{{remarcacao.data_viagem|date:"d/m/y"}}</td>
                                                    <td>{{remarcacao.num_bilhete}}</td>
                                                    <td>{{remarcacao.num_voo}}</td>
                                                    <td>R$ {{remarcacao.valor}}</td>
                                                    <td>R$ {{remarcacao.tarifa}}</td>
                                                    <td>R$ {{remarcacao.valor_embarque}}</td>
                                                    <td>R$ {{remarcacao.taxa_servico}}</td>
                                                    <td>R$ {{remarcacao.multa}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-12" >
                                            <a class="btn btn-outline-danger float-right" href="{% url 'relatorio:passagem_emitida_detail_teste' passageiro_passagem.id %}" target=”_blank” data-toggle="tooltip" title="" data-original-title="Imprimir">
		                                    	<i class="fa fa-print"></i>
											</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            {% endfor %} 
                        </div>	
                        {% else %}
                        <div class="box-trecho">
                            <p>Nenhuma Passagem Emitida para esta solicitação!</p>
                        </div>
                        {% endif %}
                    </div> 
				</div>
			</div>
		
			
{% endblock %}