{% extends 'base_site.html' %}
{% load staticfiles widget_tweaks %}

{% block breadcrumb %}
    <li><a href="#">Perfil</a></li>
    <li><a href="#">{{ request.user.get_full_name }}</a></li>
    <li class="active">Alterar Senha</li>
{% endblock breadcrumb %}

{% block title_page %}
	Perfil do Usuário - Alterar Senha
{% endblock title_page %}

{% block title %}
    Perfil do Usuário - Alterar Senha
{% endblock title %}

{% block content %}
<div class="box" style="min-height: 600px">
    <div class="box-header with-border">
		Por favor, informe sua senha antiga, por segurança, e então informe sua nova senha duas vezes para que possamos verificar se você digitou corretamente.
    </div>
    <form action="" method="POST" enctype="multipart/form-data" role="form_senha">
	    <div class="box-body">
	    	<div class="col-sm-12">
				  {% csrf_token %}
				  <div class="row">
						<div class="col-md-12">
							<div class="form-group {% if senha_form.senha_atual.errors %} has-error {% endif %}">
								<label for="senha_atual" class="control-label">Senha Atual
				              		<span class="requerido">*</span>
				            	</label>
								{{ senha_form.senha_atual }}
								{% if senha_form.senha_atual.errors %}
									<label class="control-label" for="nome">
										<i class="fa fa-times-circle-o"></i>
					              		{{ senha_form.senha_atual.errors.as_text }}
					            	</label>
				            	{% endif %}
							</div>
						</div>
				  </div>
				  <div class="row">
						<div class="col-md-12">
							<div class="form-group {% if senha_form.nova_senha.errors %} has-error {% endif %}">
								<label for="nova_senha" class="control-label">Nova Senha
				              		<span class="requerido">*</span>
				            	</label>
								{{ senha_form.nova_senha }}
								{% if senha_form.nova_senha.errors %}
									<label class="control-label" for="sigla">
										<i class="fa fa-times-circle-o"></i>
					              		{{ senha_form.nova_senha.errors.as_text }}
					            	</label>
				            	{% endif %}
							</div>
						</div>
				  </div>
				  <div class="row">
						<div class="col-md-12">
							<div class="form-group {% if senha_form.confirmar_senha.errors %} has-error {% endif %}">
								<label for="confirmar_senha" class="control-label">Confirmar Nova Senha
				              		<span class="requerido">*</span>
				            	</label>
								{{ senha_form.confirmar_senha }}
								{% if senha_form.confirmar_senha.errors %}
									<label class="control-label" for="confirmar_senha">
										<i class="fa fa-times-circle-o"></i>
					              		{{ senha_form.confirmar_senha.errors.as_text }}
					            	</label>
				            	{% endif %}
							</div>
						</div>
				  </div>
			</div>
	    </div>
		<div class="box-footer">
			<div class="col-sm-12">
		     	<a type="submit" onclick="window.history.back();" class="btn btn-default" href="#">Cancelar</a>
		     	<button type="submit" class="btn btn-success pull-right" name="submit" value="Send" id="submit">Salvar</button>
			</div>
		</div>
	</form>
</div>
{% endblock content %}
