{% load staticfiles filters %}

<div class="col-md-3">
     <div class="box box-primary">
     	<div class="box-header text-center with-border">
        	<h3 class="box-title">Sobre</h3>
        </div>
        
        <div class="box-body">
        	
        	<div class="row item-sobre">
        		<div class="col-sm-12">
        			<div class="form-group">
        				<label class="control-label"><i class="fa fa-user margin-r-5"></i> Nome</label>
        				<div>
	        				<span class="text-muted">
		        				{% if request.user.get_full_name %}
				                	{{ request.user.get_full_name }}
				                {% else %}
				               		Não informado
				               	{% endif %}
	        				</span>
        				</div>
        			</div>
       			</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-sm-12">
        			<div class="form-group">
        				<label class="control-label"><i class="fa fa-university margin-r-5"></i> Órgão</label>
        				<div>
	        				<span class="text-muted">
		        				{% if request.user.orgao.razao_social %}
				                	{{ request.user.orgao.razao_social }}
				                {% else %}
				               		Não informado
				               	{% endif %}
	        				</span>
        				</div>
        			</div>
       			</div>
        	</div>
        	
        	
        	<div class="row">
        		<div class="col-sm-12">
        			<div class="form-group">
        				<label class="control-label"><i class="fa fa-university margin-r-5"></i> Telefone</label>
        				<div>
	        				<span class="text-muted">
		        				{% if request.user.telefone %}
				                	{{ request.user.telefone }}
				                {% else %}
				               		Não informado
				               	{% endif %}
	        				</span>
        				</div>
        			</div>
       			</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-sm-12">
        			<div class="form-group">
        				<label class="control-label"><i class="fa fa-envelope margin-r-5"></i> E-mail</label>
        				<div>
	        				<span class="text-muted">
		        				{% if request.user.email %}
				                	{{ request.user.email }}
				                {% else %}
				               		Não informado
				               	{% endif %}
	        				</span>
        				</div>
        			</div>
       			</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-sm-12">
        			<div class="form-group">
        				<label class="control-label"><i class="fa fa-clock-o margin-r-5"></i> Último Login</label>
        				<div>
	        				<span class="text-muted">
		        				{% if request.user.last_login %}
				                	{{ request.user.last_login }}
				                {% else %}
				               		Não informado
				               	{% endif %}
	        				</span>
        				</div>
        			</div>
       			</div>
        	</div>
		</div>
	</div>
</div>