{% load staticfiles %}

<html>

<head>
	<meta charset="utf-8">
	<title>Sistema de Laudos do IML</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Language" content="pt-br">
	<meta name="keywords" content="itec, iml, instituto de tecnologia, estado de alagoas, alagoas">
	<meta name="description" content="Sistema de Laudos do IML Estado de Alagoas">
	<link rel="shortcut icon" href="img/shortcut.ico">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Instituto de Tecnologia em Informática e Informação do Estado de Alagoas">

	<link rel="stylesheet" href="http://static.itec.al.gov.br/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="{% static 'iml/css/estilo_login.css' %}" type="text/css">
	<link rel="stylesheet" href="http://static.itec.al.gov.br/templates/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="http://static.itec.al.gov.br/plugins/toastr/toastr.min.css" >

	<script src="http://static.itec.al.gov.br/plugins/jQuery/jQuery-2.2.0.min.js"></script>
	<script src="http://static.itec.al.gov.br/bootstrap/js/bootstrap.min.js"></script>
	<script src="http://static.itec.al.gov.br/plugins/toastr/toastr.min.js"></script>

	<style>
	
	</style>
</head>

<body>
	<section>
		<div id="cabecalho">
			<p></p>
		</div>
	</section>
	<section id="home">
		<div class="conteiner">
			<div class="row">
				<center>
					<div class="col-md-12">
						<img src=""
							class="img-responsive" alt="Responsive image" id="logo-governo">
						<p id="nome-sistema">Sistema de Laudos do IML</p>
					</div>
				</center>
			</div>
			
			<form method="post" action="" id="submit_login">
				{% csrf_token %}
				<div class="row" id="login-senha">
					<div id="form-login">
						<div class="col-sm-6 col-md-offset-2">
							<div class="form-group">
								<div class="input-group input-group-lg div-input-email">
									<span class="input-group-addon">
										<img src="{% static 'iml/img/user.png' %}">
									</span> 
									<input type="text" class="form-control" placeholder="Digite seu email"
										name="email" id="id_email">
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-default btn-block btn-lg" id="btnEntrar">Enviar</button>
						</div>
						<div class="col-sm-12 text-center">
							<a href="{% url 'login' %}" style="color:white;">
								Voltar para o Login
							</a>
						</div>
				 	</div>
				</div>
			</form>		
		</div>
	</section>
	<section>
		<div class="footer hidden-xs">
			<p align="center">
				Estado de Alagoas - Sistema de Laudos do IML<br>
				<a href="http://itec.al.gov.br" target="_blank" style="color: white;">Desenvolvido por ITEC</a>
			</p>
		</div>

	</section>

	<script>
		$(document).ready(function() {
			toastr.options = {
				"closeButton" : false,
				"debug" : false,
				"newestOnTop" : false,
				"progressBar" : false,
				"positionClass" : "toast-top-left",
				"preventDuplicates" : false,
				"onclick" : null,
				"showDuration" : "300",
				"hideDuration" : "1000",
				"timeOut" : "5000",
				"extendedTimeOut" : "1000",
				"showEasing" : "swing",
				"hideEasing" : "linear",
				"showMethod" : "fadeIn",
				"hideMethod" : "fadeOut"
			}
		});
	</script>
	<script type="text/javascript">//<![CDATA[
	  $(window).load(function(){
		{% for message in messages %}
		  {% if message.tags in 'success' %}
				toastr.success("{{ message }}");
		   {% elif message.tags == 'warning' %}
				toastr.warning("{{ message }}");
		   {% elif message.tags == 'error' %}
				toastr.error("{{ message }}");
		   {% else %}
				toastr.info("{{ message }}");
		  {% endif %}
		{% endfor %}
	  });
	//]]></script>
</body>
</html>