{% extends 'base_site.html' %}
{% load pagination_tags staticfiles widget_tweaks %}

{% block breadcrumb %}
    <li><a href="#">Perfil</a></li>
    <li class="active"><a href="{% url 'meu_perfil' %}">{{ request.user.get_full_name }}</a></li>
{% endblock breadcrumb %}

{% block title_page %}
	Perfil do Usuário - {{ request.user.get_full_name }}
{% endblock title_page %}

{% block title %}
    Perfil do Usuário
{% endblock title %}

{% block content %}
<section class="content">

	<div class="row">
		{% include 'detalhes_usuario.html' %}
		
		<div class="col-md-9">
        	<div class="nav-tabs-custom">
	            <ul class="nav nav-tabs">
	            	<li class="{% if not is_submit_senha  %} active {% endif %}"><a href="#edicao" data-toggle="tab" aria-expanded="true">Dados Pessoais</a></li>
	              	<li class="{% if is_submit_senha  %} active {% endif %}"><a href="#senha" data-toggle="tab">Senha</a></li>
	            </ul>
           
	            <div class="tab-content">
	            	<div class="tab-pane {% if not is_submit_senha  %} active {% endif %}" id="edicao">	
	              		{% include 'form_perfil_usuario.html' %}
	              	</div>
	              
	            	<div class="tab-pane {% if is_submit_senha  %} active {% endif %}" id="senha">
	              		{% include 'form_senha.html' %}
	              	</div>
	            </div>
          	</div>
       	</div>
     </div>
</section>
{% endblock content %}

{% block extrajs %}
	<script type="text/javascript" src="{% static 'iml/js/orgao.js' %}"></script>
	<script type="text/javascript" src="{% static 'iml/js/usuario.js' %}"></script>
{% endblock %}