
{% extends 'template_relatorio.html' %}
{% load static %}


{% block content %}
{% block extracss %}
	<!--<link rel="stylesheet" href="{% static 'css/passagem/solicitacao_passagem.css' %}" type="text/css">-->
	<!--<link rel="stylesheet" href="{% static 'css/passagem/timeline_acompanhamento.css' %}" type="text/css">-->
{%  endblock extracss %}    
    <h2>Relatório Analítico de Passagens Emitidas por Período</h2>
    <h3>De {{data_inicio|date:'d/m/Y'}} até {{data_final|date:'d/m/Y'}}</h2> 
        
       
	<div class="row">
		<div   {% if acompanhamentos %}   class="col-sm-8" {% else %}  class="col-sm-12"   {% endif %}>
			<div class="card">
                {% if passagens %}
                <div class="card-body"  style="border: none; !impotant">
                        {% csrf_token %}
                        {% for passageiro_passagem in passagens %}
						
                                  <div class="box-trecho" style="border: 1px solid; margin: 10px; padding: 10px;">
                                    {% if urgente %}
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <span class="badge badge-danger" style="font-size: medium;">URGENTE</b></span>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="form-row">
                                        <div class="col-sm-8">
                                            <b>Órgão:</b> {{passageiro_passagem.orgao}}<br>
                                            <b>Passageiro:</b> {{passageiro_passagem.passageiro.cpf}} - {{passageiro_passagem.passageiro.nome}}
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <b>Cia Aérea:&nbsp;&nbsp;  </b>{{passageiro_passagem.companhia}}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-8">
                                            <b>Nº Bilhete:&nbsp;&nbsp;  </b>{{passageiro_passagem.num_bilhete}}&nbsp;&nbsp;&nbsp;<b>Nº Voo:&nbsp;&nbsp;</b> {{passageiro_passagem.num_voo}}&nbsp;
                                            <b>Data viagem:</b> {{passageiro_passagem.data_viagem|date:"d/m/Y"}}&nbsp;&nbsp;&nbsp;</br>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <b>Origem:</b> {{passageiro_passagem.passagem.rota.origem}}&nbsp;&nbsp;&nbsp;<b>Destino:</b> {{passageiro_passagem.passagem.rota.destino}}</br>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <b>Valor:</b> R$ {{passageiro_passagem.valor}}&nbsp;&nbsp;&nbsp;<b>Taxa Embarque:</b> R$ {{passageiro_passagem.valor_embarque}}&nbsp;&nbsp;&nbsp;<b>Taxa Serviço:</b> R$ {{passageiro_passagem.taxa_servico}}&nbsp;&nbsp;&nbsp;
                                            <b>Tarifa:</b> R$ {{passageiro_passagem.tarifa}}
                                        </div>
                                    </div>
                                    <hr/>
                                    {% if passageiro_passagem.remarcacoes %}
                                    <p><b>Remarcações: </b></p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col"><b>Data viagem:</b></th>
                                                    <th scope="col"><b>Bilhete:&nbsp;&nbsp;  </b></th>
                                                    <th scope="col"><b>Voo:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Valor:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Terifa:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Taxa embarque:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Taxa serviço:&nbsp;&nbsp;</b></th>
                                                    <th scope="col"><b>Multa:&nbsp;&nbsp;</b></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for remarcacao in passageiro_passagem.remarcacoes %}
                                                <tr>
                                                    <td>{{remarcacao.data_viagem|date:"d/m/y"}}</td>
                                                    <td>{{remarcacao.num_bilhete}}</td>
                                                    <td>{{remarcacao.num_voo}}</td>
                                                    <td>R$ {{remarcacao.valor}}</td>
                                                    <td>R$ {{remarcacao.tarifa}}</td>
                                                    <td>R$ {{remarcacao.valor_embarque}}</td>
                                                    <td>R$ {{remarcacao.taxa_servico}}</td>
                                                    <td>R$ {{remarcacao.multa}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {%endif%}
                                    
                                </div>
                                {% endfor %}
                               
                                
                                
                        </div>	
                        {% else %}
                        <p>Nenhuma passagem emitita nesse período.</p>
                        {% endif %}
                    </div> 
				</div>
			</div>
		
			
{% endblock %}