{% extends 'base.html' %}
{% load staticfiles input_error %}

{% block pagetitle %}
	Cadastro de Passageiro
{% endblock pagetitle %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
	        	<div class="card-body">
	           		<form action="" method="post">
	           			{% csrf_token %}
	                	<div class="form-row">
	                   		<div class="form-group col-sm-2">
								<label for="id_cpf" class="control-label required">CPF:</label>
								{{ passageiro_form.cpf }}
								{% show_input_error passageiro_form.cpf %}
	                        </div>
	                        
	                        <div class="form-group col-sm-8">
	                        	<label for="id_nome" class="control-label required">Nome</label>
								{{ passageiro_form.nome }}
								{% show_input_error passageiro_form.nome %}
	                   	    </div>
	                   	    <div class="form-group col-sm-2">
								<label for="id_cpf" class="control-label">Data de Nascimento</label>
								{{ passageiro_form.data_nascimento }}
								{% show_input_error passageiro_form.data_nascimento %}
	                        </div>
						   </div>
						   <div class="form-row">
								<div class="form-group col-sm-3">
									<label for="id_email" class="control-label">E-mail: </label>
									{{ passageiro_form.email }}
									{% show_input_error passageiro_form.email %}
								</div>
								<div class="form-group col-sm-3">
									<label for="id_fone" class="control-label">Telefone: </label>
									{{ passageiro_form.fone }}
									{% show_input_error passageiro_form.email %}
								</div>
								<div class="form-group col-sm-3">
									<label for="id_categoria" class="control-label">Categoria de Passageiro: </label>
									{{ passageiro_form.categoria }}
									{% show_input_error passageiro_form.categoria %}
								</div>
								<div class="form-group col-sm-3">
									<label for="id_servidor" class="control-label">É servidor? </label>
									{{ passageiro_form.servidor }}
									{% show_input_error passageiro_form.servidor %}
								</div>
						   </div>
	                     <div class="form-row">
	                         <div class="form-group col-sm-12 mt-2">
	                         	{% if usuario_orgao.id %}
									<button type="button" class="pull-left btn btn-outline-danger"  onclick="confirmExclusao('Usuário', '{% url 'auth_local:remover_usuario' usuario_orgao.id %}')" >
										<i class="fas fa-trash-alt"></i>&nbsp;Desativar
									</button>									
								{% endif %}
	                         
	                             <button type="submit" class="btn btn-outline-success float-right">
	                             <i class="far fa-save"></i>&nbsp;Salvar</button>
	                         </div>
	                     </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock content %}


