{% load staticfiles compress messages %}
<html lang="pt">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGPA Alagoas {% block title %} {% endblock title %}</title>
    <meta http-equiv="Content-Language" content="pt-br">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/theme/login.scss' %}" type="text/x-scss">
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'libs/font-awesome/css/fontawesome-all.min.css' %}">

  </head>

  <body class="text-center">
    <form method="post">
    
    	{% csrf_token %}

      <div class="col-sm-4 offset-sm-4">
          {% show_messages messages %}
          <div class="card-header" style="margin-top: 300px;">
         		 <a href="{% url 'login'%}" class="float-right mt-2 text-light">Voltar</a>
                  <div class="login-title text-light">
                  	<h3>SGPA </h3>
                  	<span class="float-center">Esqueceu sua senha</span>
                  </div>
                  
                  
                  <div class="form-group">
                     	<input type="text" name="cpf_redefinicao" id="cpf" class="form-control" placeholder="Informe seu CPF" autofocus>
                  </div>
                <!-- 
                  <div class="div-recaptcha">
              			<div class="g-recaptcha mt-2" data-sitekey="6LfWfKIUAAAAADXhspqrrTSS8Hf-yrjg_Az2B2Fx"></div>
            	  </div>
                -->   
                  <div class="row mt-2">
                  	<div class="col-sm-12">
                    	<button class="btn btn-outline-light float-left btn-block" type="submit">Redefinir senha</button>
                    </div>
                 </div>
              </div>
      </div>
    </form>
    
    
    <script src="{% static 'libs/jquery/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'libs/jquery/jquery.mask.min.js' %}"></script>
    <!-- <script src='https://www.google.com/recaptcha/api.js?render=_reCAPTCHA_site_key'></script>-->
    
    <script>
      $('#cpf').mask('000.000.000-00');
    </script>
  </body>
</html>