{% load staticfiles compress %}
<html lang="pt-BR">

<head>
     <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
     {% block css %}
     {% endblock %}
     
       	{% compress css %}
            <link rel="stylesheet" href="{% static 'css/custom.scss' %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static 'libs/font-awesome/css/all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/template_relatorio.scss' %}" type="text/x-scss">
        {% endcompress %}
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/logo-governo-black.png' %}"
					class="img-responsive  " 
					alt="Sistema de Ouvidoria do Estado de Alagoas (e-Ouv)" 
					id="logo-governo" />
			</div>
			<div class="col-sm-6 header">
				<h5>GOVERNO DO ESTADO DE ALAGOAS</h5>
				<h5>{% block title %} {% endblock %}</h5>
				<h5>SGPA ALAGOAS </h5>
			</div>
		</div>

		{% block content %}
		{% endblock %}
	</div>

 <script src="{% static 'libs/jquery/jquery-3.2.1.js' %}"></script>
 <script src="{% static 'libs/jquery/jquery-ui.min.js' %}"></script>
 <script src="{% static 'libs/jquery/jquery.mask.min.js' %}"></script>
 <script src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>

 {% block extrajs %}{% endblock extrajs %}
</body>
</html>