{% if messages %}
	<div>
	   {% for message in messages %}
		    {% if forloop.first %}
		    	<div id="messages" class="container alert alert-{% if message.tags == 'error' %}danger{%else%}{{ message.tags }}{%endif%} alert-dismissible" role="alert">
			        <button type="button" class="close" data-dismiss="alert">
			            <span aria-hidden="true">&times;</span>
			            <span class="sr-only">Fechar</span>
			        </button>
		        	<ul class="list-unstyled">
	    	{% endif %}
	        <li>
		        {% if message.tags == 'error' %}
		        	<i class="fa fa-lg fa-exclamation-circle"></i>&nbsp;
		        {% endif %}
		
		        {% if message.tags == 'success' %}
		       		<i class="fa fa-lg fa-check-circle"></i>&nbsp;
		        {% endif %}
		
		        {% if message.tags == 'info' %}
		        	<i class="fa fa-lg fa-info-circle"></i>&nbsp;
		        {% endif %}
		        {{ message|safe }}
	        </li>
	   
	     {% if forloop.last %} </ul></div> {% endif %}
	    {% endfor %}
	</div>
{% endif %}