{% extends 'base.html' %}
{% load staticfiles input_error %}

{% block pagetitle %}
    Cadastro de Cota
{% endblock pagetitle %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-sm-8">
                                <label for="id_orgao" class="control-label required">Orgão:</label>
                                {{cota_form.orgao}}
                                {% show_input_error cota_form.orgao %}
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="id_orgao" class="control-label required">Quantidade:</label>
                                {{cota_form.quantidade}}
                                {% show_input_error cota_form.quantidade %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="id_exercicio" class="control-label required">Exercício:</label>
                                {{cota_form.exercicio}}
                                {% show_input_error cota_form.exercicio %}
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="id_inicio" class="control-label required">Início:</label>
                                {{cota_form.inicio}}
                                {% show_input_error cota_form.inicio %}
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="id_inicio" class="control-label required">Termino:</label>
                                {{cota_form.termino}}
                                {% show_input_error cota_form.termino %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 mt-2">
                                   <button type="button" class="pull-left btn btn-outline-primary" onclick="location.href='{% url 'passagem:cotas' %}'">
                                       <i></i>&nbsp;Voltar
                                   </button>									
                                <button type="submit" class="btn btn-outline-success float-right">
                                <i class="far fa-save"></i>&nbsp;Salvar
                            </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}