// customização de tema
@import 'imports/fonts';
@import 'imports/variables';

// source do bootstrap
@import '../../libs/bootstrap/scss/bootstrap';

body {
  //background: url('http://static.itec.al.gov.br/templates/img/bg1.png');
  background: #01579B;
  background-size: cover;
  background-attachment: fixed;
}

form {
    margin-top: 2%;
  }
  
.login-title {
  margin: 35px 0px;
}

#logo-governo {
	max-width: 100%;
    
}

.card-login {
  
  background-color: transparent;
  margin-top: -60px !important;
  
  .card-header {
    background-color: rgba(40,40,40,0.2);
    padding-bottom: 40px;
    
  }

  input, input:focus {
    border-color: #fff;
  }
}
