// CSS REFERENTE AO MENU SIDEBAR

.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    padding: 0 20px 20px 20px;
    padding-left: 0;
    padding-right: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    background: #222d32;

    &.closed {
        left: -20%;
    }

    .menu-toggle {
        position: relative;
        top: 0;
        padding: 7px 12px;
        background-color: $gray-700;
    }


    #menu {

        margin-top: 20px;

        .list-group-item {
            background: transparent;
            color: $gray-200;
            border-color: $gray-800;
            border-left: transparent;
            border-right: transparent;
            border-radius: 0px;
            padding-left: 15px;
            padding-right: 10px;

            &:first-child {
                border-top: 0px;
            }

            .menu-icon {
                width: 25px;
                font-size: 1rem;
                text-align: center;
            }
        }
    
        .submenu {
            a {
                padding-left: 30px;
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        margin: 15px;
        padding: 5px 0;

        .governo, .itec {
            width: 100%;
        }

    }
    
}

@media (max-width: 767px) {
    .sidebar {
        &.closed {
            left: 0%;
        }
    }
}