{% load staticfiles %}
{% block content %}
<form id="subscribe-email-form" action='/../passagem/solicitacao_passagem_rota/add/' method="post"> {% csrf_token %}
	<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header text-center">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body mx-3">
	        <div class="md-form mb-5">
	          <label data-error="wrong" data-success="right" >Justificativa:</label>
			  <textarea rows="4" cols="50" name="justificativa" id="id_justificativa" class="form-control" onkeydown="upperCaseF(this)"></textarea>
			  {% if solicitacao_no_prazo == 'True' %}
				  <input type="hidden" value="False" name="urgente" id="id_urgente">
			  {% else %}
			  	<input type="hidden" value="True" name="urgente" id="id_urgente">
			  {% endif %}
	        </div>
	
	        
	      </div>
	      <div class="modal-footer d-flex justify-content-center">
	        <button class="btn btn-primary" type="submit" name="btn_cadastrar_justificativa">Cadastrar</button>
	      </div>
	    </div>
	  </div>
	</div>
</form>
{% endblock content %}

