{% load staticfiles %}

{% block content %}

<div class="modal fade"  id="MyModal">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Cotação</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        
            <div class="modal-body mx-3">
                <div style="border: 1px solid; padding: 5px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <label data-error="wrong" data-success="right" ><b>Origem:</b></label>
                            <input type="text" style="border: none;" id="id_origem" size="55">
                            
                        </div>
                        <div class="col-sm-6">
                            <label data-error="wrong" data-success="right" ><b>Destino:</b></label>
                            <input type="text" style="border: none;" id="id_destino" size="55">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label data-error="wrong" data-success="right" ><b>Nº Voo:</b></label>
                            <input type="text" style="border: none;" id="id_num_voo" size="20">
                        </div>
                        <div class="col-sm-3">
                            <label data-error="wrong" data-success="right" ><b>Valor:</b></label>
                            R$ <input type="text" style="border: none;" id="id_valor" size="20">
                        </div>
                        <div class="col-sm-3">
                            <label data-error="wrong" data-success="right" ><b>Companhia:</b></label>
                            <input type="text" style="border: none;" id="id_companhia" size="10">
                        </div>
                        <div class="col-sm-3">
                            <label data-error="wrong" data-success="right" ><b>Data do voo:</b></label>
                            <input type="text" style="border: none;" id="id_data" size="19">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr>
                            <P>Passageiros:</P>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Nome:</th>
                                            <th scope="col">E-mail:</th>
                                            <th scope="col">Fone:</th>
                                            <th scope="col">Idade:</th>
                                            <th scope="col">É servidor?</th>
                                        </tr>
                                    </thead>
                                    <tbody id="modal_passageiros">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="form-row" style="text-align: right;">
                    <div class="form-group col-sm-12 mt-2">
                        <a class="btn btn-outline-danger" id="id_btn_editar_cotacao" href="" data-toggle="tooltip" title="Editar">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>
                </div>                    
            </div>
                
    </div>
    </div>
</div>

{% endblock content %}

