@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
}