{% extends 'base.html' %}
{% load pagination_tags bootstrap_pagination staticfiles %}
{% load i18n %}
{% block pagetitle %}
	Lista de Rotas
{% endblock pagetitle %}

{% block content %}

   	<div class="card mt-3">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<a href="{% url 'passagem:rota_add'%} " class="btn btn-outline-danger mb-2 float-right" data-toggle="tooltip" title="Cadastrar">
						   <i class="fas fa-plus fa-xs"></i> Cadastrar
					   </a>
				   </div>
			</div>
		</div>
     		{% if rotas %} 
	     		<div class="table-responsive">
		      		<table class="table">
		        		<thead class="thead-light">
			          		<tr>
                                <th scope="col">Origem</th>
                                <th scope="col">Destino</th>
			            		<th scope="col">#</th> 
			            		
			          		</tr>
		        		</thead>
			        	<tbody>
			        		{% for rota in rotas %}
			          	  		<tr>
				        			<td>{{ rota.origem }} </td>
                                    <td>{{ rota.destino}} </td>
									<td>
										<a class="btn btn-outline-danger" href="{% url 'passagem:rota_update' rota.id %}" data-toggle="tooltip" title="Editar">
											<i class="fas fa-pencil-alt"></i>
										</a>
									</td>
									
			        				
									
				          		</tr>
			        		{% endfor %}
			        	</tbody>
		      		</table>
	      		</div>
	           	{% include './rota_paginator.html' %}
      		{% endif %}
    	</div>
{% endblock content %}

{% block extrajs %}
	<script src="{% static 'js/painel/usuario/listagem.js' %}"></script>
{% endblock %}