{% extends 'base.html' %}
{% load pagination_tags bootstrap_pagination staticfiles %}
{% load i18n %}
{% block pagetitle %}
	Lista de Aeroportos
{% endblock pagetitle %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <a href="{% url 'passagem:aeroporto_add'%}" class="btn btn-outline-danger mb-2 float-right" data-toggle="tooltip" title="Cadastrar">
                        <i class="fas fa-plus fa-xs"></i> Cadastrar
                    </a>
                </div>
            </div>
        </div>
        {% if aeroportos %}
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Iata</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">site</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aeroporto in aeroportos %}
                        <tr>
                            <th scope="row">
                                {{aeroporto.iata}}
                               
                            </th>
                            <td>{{aeroporto.nome}}</td>
                            <td>{{aeroporto.cidade}}</td>
                            <td>{{aeroporto.site}}</td>
                            <td>
                                <a class="btn btn-outline-danger" href="{% url 'passagem:aeroporto_update' aeroporto.id %}" data-toggle="tooltip" title="Editar">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include './aeroporto_paginator.html' %}
        {% endif %}
    </div>
{% endblock content %}