{% extends 'base.html' %}
{% load staticfiles input_error %}

{% block pagetitle %}
    Cadastro de Aeroporto
{% endblock pagetitle %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="id_cidade" class="control-label required">Cidade</label>
                            {{aeroporto_form.cidade}}
                            {% show_input_error aeroporto_form.cidade %}
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="id_nome" class="control-label required">Nome</label>
                            {{aeroporto_form.nome}}
                            {% show_input_error aeroporto_form.cidade %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label for="id_iata" class="control-label required">Código IATA</label>
                            {{aeroporto_form.iata}}
                            {% show_input_error aeroporto_form.iata %}
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="id_icao" class="control-label required">Código ICAO</label>
                            {{aeroporto_form.icao}}
                            {% show_input_error aeroporto_form.icao %}
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="id_site" class="control-label required">Site</label>
                            {{aeroporto_form.site}}
                            {% show_input_error aeroporto_form.site %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="id_latitude" class="control-label required">Latitude</label>
                            {{aeroporto_form.latitude}}
                            {% show_input_error aeroporto_form.latitude %}
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="id_longitude" class="control-label required">Longitude</label>
                            {{aeroporto_form.longitude}}
                            {% show_input_error aeroporto_form.longitude %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12 mt-2">
                               <button type="button" class="pull-left btn btn-outline-primary" onclick="location.href='{% url 'passagem:aeroportos' %}'">
                                   <i></i>&nbsp;Voltar
                               </button>									
                                <button type="submit" class="btn btn-outline-success float-right">
                                    <i class="far fa-save"></i>&nbsp;Salvar
                                </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}